<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <h1 style="font-family: Vivaldi;">Haouari voyage</h1>
                <hr class="light">
                <p>(+216) 27 132 456</p>
                <p>(+216) 70 123 456</p>
                <p> Email : bader@gmail.com</p>
                <p>Ariana : Charguia</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Menu</h5>
                <hr class="light">
                <p>Accueil</p>
                <p>Destination</p>
                <p>Circuit</p>
                <p>Contact</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Equipe</h5>
                <hr class="light">
                <p>Bader</p>
                <p>aaaa</p>
                <p>bbbb</p>
                <p>aaaaa</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy;Haouari Baderdine 2020</h5>
            </div>
        </div>
    </div>
</footer>